<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.itfinally.jvm.repository.mapper.JvmArgumentsMapper">
  <resultMap id="JvmArgumentsEntity" type="io.github.itfinally.jvm.entity.JvmArgumentsEntity">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="jvmId" column="jvm_id" jdbcType="BIGINT"/>
    <result property="value" column="value" jdbcType="VARCHAR"/>
  </resultMap>
</mapper>